.grid {
  max-height: 50px;
  display: inline;
  justify-content: center;
  margin-left: 260px;
}

.form-group {
  display: block;
  padding: 8px;
}

.validationError {
  color: red;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: #00cc00;
  padding: 5.5px;
  color: white;
}
